.div {
    position: absolute;
    width: 793px;
    height: 82px;
    text-align: center;
    color: #FF8984;
    background-color: #4A4F56; 
    font-size: x-small;
    
}

.zebra {
    list-style: none;
    border-left: 10px;
    padding: 0;
    font-size: large;
    position: absolute;
    Width: 534px;
    Height: 45px;
    Top: 100px;
    Left: 129px;
    text-align: left;
    background-color: #3B3F45;
}

.zebra li {
    padding: 10px;
    color:#FFFFFF;
    ;
}

.zebra li:nth-child(odd) { background: 
    #88839E;
color:#FFFFFF;
;}

.zebra li:nth-child(even) { background: #7A7593;
color:#FFFFFF;

;}

.span {
color: #FFFFFF;
font-size: small;
}

.div2 {
    position: absolute;
    Width: 534px;
    Height: 60px;
    Top: 417px;
    Left: 129px;
    text-align: center;
    color: #FF8984;
    background-color: #4A4F56; 
}

.footer {
    Width: 793px;
    Height: 507px;
    background-color: #3B3F45;
}
